<my-input-field input-type='checkbox' field-label='IsActive' ng-model='vm.ngModel.IsActive'></my-input-field>
<my-input-field field-label='Title' ng-model='vm.ngModel.Title'></my-input-field>
<my-input-field field-label='FirstName' ng-model='vm.ngModel.FirstName'></my-input-field>
<my-input-field field-label='LastName' ng-model='vm.ngModel.LastName'></my-input-field>
<my-input-field input-type='datepopup' field-label='Dob' ng-model='vm.ngModel.Dob'></my-input-field>
<my-input-field field-label='Address1' ng-model='vm.ngModel.Address1'></my-input-field>
<my-input-field field-label='Address2' ng-model='vm.ngModel.Address2'></my-input-field>
<my-input-field field-label='Address3' ng-model='vm.ngModel.Address3'></my-input-field>
<my-input-field field-label='Town' ng-model='vm.ngModel.Town'></my-input-field>
<my-input-field field-label='PostCode' ng-model='vm.ngModel.PostCode'></my-input-field>
<my-input-field field-label='Address' ng-model='vm.ngModel.Address'></my-input-field>
<my-input-field field-label='Area' ng-model='vm.ngModel.Area'></my-input-field>
<my-input-field input-type='datepopup' field-label='DateJoined' ng-model='vm.ngModel.DateJoined'></my-input-field>
<my-input-field field-label='Tags' ng-model='vm.ngModel.Tags'></my-input-field>
<my-input-field input-type='datepopup' field-label='InductionTraining' ng-model='vm.ngModel.InductionTraining'></my-input-field>
<my-input-field input-type='datepopup' field-label='BackcareAwareness' ng-model='vm.ngModel.BackcareAwareness'></my-input-field>
<my-input-field input-type='datepopup' field-label='FirstcarAwareness' ng-model='vm.ngModel.FirstcarAwareness'></my-input-field>
<my-input-field input-type='datepopup' field-label='AgeLinkCours' ng-model='vm.ngModel.AgeLinkCours'></my-input-field>
