<div class="detailsContainer">
    <my-page-title>Person Details</my-page-title>
    <!-------------->
    <!--Header bar-->
    <!-------------->
           
    
    <td>
      <my-input-field read-only='true'  field-label='firstName' ng-model='vm.person.FirstName'  
          ></my-input-field>
    </td>
    
    <td>
      <my-input-field read-only='true'  field-label='lastName' ng-model='vm.person.LastName'  
          ></my-input-field>
    </td>
    
    <td>
      <my-input-field read-only='true'  field-label='options' ng-model='vm.person.Options'  
          
            input-type='select'
            ></my-input-field>
    </td>
    
    <td>
      <my-input-field read-only='true'  field-label='age' ng-model='vm.person.Age'  
          ></my-input-field>
    </td>
    
    <td>
      <my-input-field read-only='true'  field-label='registrationDate' ng-model='vm.person.RegistrationDate'   input-type='datepopup' 
          ></my-input-field>
    </td>
    
        </uib-tab>
       
    
    </uib-tabset>